body {
    background-color: dimgray;
}
#widget-area {
    width: 300px;
    height: 600px;
    border: 1px solid gray;
    background-color: aliceblue;
    display: grid;
    align-content: space-around;
}